@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@400&display=swap');

body {
    background-color: #fff;
    font-family: 'Anuphan';
    padding: 5px;
}
h1{
    background-color: #F2F2F2;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    background-color: #26CFFF;
    padding-left: 10px;
    font-family: 'Raleway';
}
footer{
    background-color: #26CFFF;
    text-align: right;
    padding: 10px;
}
fieldset{
    background-color: #f2f2f2;
}
.link-footer{
    color: #000000;
    font-weight: bold;
}    
.footer-nav a:hover {
    background-color: #fff;
    color: black;
}
.imagem-logo{
    width: 150px;
    position:absolute; left: 90%; top: 8%;
}