body {
    background-color: #ffffff;
}
h1{
    background-color: #F2F2F2;
    text-align: center;
}
h2{
    background-color: #26CFFF;
}
footer{
    background-color: black;
    text-align: right;
}
fieldset{
    background-color: #f2f2f2;
}
.link-footer{
    color: white;
}